@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-titleimg {
  height: 75px;
}

.App-title {
  font-size: 58px;
  font-family: Arial Rounded MT Bold;
}

.App-header {
  background-color: #004d99;
  height: 200px;
  padding: 30px;
  color: white;
}

.App-body {
  margin: auto;
  text-align: left;
  width: 80%;
  background-color: #f9f9f9;
  border: 2px groove gray;
  border-top: none;
}

.App-body-table {
    height: calc(100vh - 225px);
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 60px;
}

.Post {
  width: 100%;
}